.dark{


    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding:20px;
    background-color: black;
    color:white;
}







@media (max-width: 500px) {
  
    .dark{

        margin-top: 60%;
    }

  }