.bg-room{

    margin-top: 10px;
}

.crd{



    width: 40%;

    margin: auto;
}

.cont-card{

    display: flex;
}



@media (max-width: 768px) {

    .crd{



        width: 100%;
    
       
    }


}