/* From https://css.glass */

.nav{
    background-color:#0D6EFD;
display: flex;
align-items: center;
justify-content: space-between;
align-items: center;
padding-top: 20px;

height: 15vh;
}
.wrapper{
    position:sticky;
    background-color: #0D6EFD;
}

.ul{
list-style: none;
display: flex;
justify-content: space-evenly;
gap:20px;
align-items: center;
    
}
li a{

    text-decoration: none;
    color:rgb(214, 212, 212);
    font-size: 1.0vw;
}

 a:hover{

    color:rgba(0, 0, 0, 0.959) !important;
}

.ham{


    display: none;
}

.userProfile{


    background-color: rgb(221, 221, 221);
    width: 15vw;
    height:25vh;
    position: absolute;
 left: 80%;
 z-index: 1111;
    top: 55px;
    border-radius: 8px;
}

.hide{

    display: none;
}




@media (max-width: 768px) {

.hero{


}

}